<div class="container">
   <div class="card text-center p-4 w-100">
      <div *ngIf="listPreguntas.length > 0">
         <h4 class="card-title">{{obtenerPregunta()}}</h4>
         <ul class="list-group">
            <li class="list-group-item" *ngFor="let respuesta of listPreguntas[getIndex()].listadoRespuesta" (click)="respuestaSeleccionada(respuesta, respuesta.id!)" [ngClass]="AddClassOption(respuesta)">
               {{respuesta.descripcion}}
            </li>
         </ul>
         <div class="mt-auto">
            <button class="btn btn-info btn-lg mt-3 mb-3" [disabled]="!rtaConfirmada" (click)="siguiente()">SIGUIENTE</button>
         </div>
      </div>
   </div>
</div>